on:
  push:


jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: install buck
        run: |
          curl -Lo $HOME/buck.zst https://github.com/facebook/buck2/releases/download/2024-08-15/buck2-x86_64-unknown-linux-musl.zst
          zstd --decompress $HOME/buck.zst
          chmod +x $HOME/buck

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: df -h
      - name: start nativelink
        uses: JarvusInnovations/background-action@v1
        with:
          run: |
            docker run \
              -v $(pwd)/nativelink_config.json:/config \
              -p 50051:50051 \
              ghcr.io/tracemachina/nativelink:v0.5.1 config &
          wait-for: 30s
          wait-on: |
            tcp:127.0.0.1:50051
      - run: docker ps -a
      - name: Build
        run: $HOME/buck build ...
