on:
  push:


jobs:
  test:
    runs-on: macos-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: install buck
        run: |
          curl -Lo $HOME/buck.zst https://github.com/facebook/buck2/releases/download/2024-11-01/buck2-aarch64-apple-darwin.zst
          zstd --decompress $HOME/buck.zst
          chmod +x $HOME/buck

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: df -h
      - name: build nativelink
        run: |
          nix build --out-link $HOME/nativelink github:TraceMachina/nativelink/v0.5.1
      - name: start nativelink
        uses: JarvusInnovations/background-action@v1
        with:
          run: |
            ulimit -n 65000
            export RUST_LOG=info
            $HOME/nativelink/bin/nativelink nativelink_config.json &> nl.log &
          wait-for: 30s
          wait-on: |
            tcp:127.0.0.1:50061
      - name: Build
        run: ulimit -n 65000; $HOME/buck build -v 2,stderr --prefer-remote :tsc_generated
      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: nl.log
          path: nl.log
